<a href="https://colab.research.google.com/github/saiPraneeth1608/saipraneeth_INFO5731_Spring2020/blob/main/In_class_exercise_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The fourth in-class-exercise (20 points in total, 2/9/2021)**

# 1. Text Data Preprocessing

Here is a [legal case](https://github.com/unt-iialab/info5731_spring2021/blob/main/class_exercises/01-05-1%20%20Adams%20v%20Tanner.txt) we collected from westlaw, please follow the steps we mentioned in lesson 5 to clean the data:



## 1.1 Basic feature extraction using text data (4 points)

*   Number of sentences
*   Number of words
*   Number of characters
*   Average word length
*   Number of stopwords
*   Number of special characters
*   Number of numerics
*   Number of uppercase words

## 1.2 Basic Text Pre-processing of text data (4 points)

*   Lower casing
*   Punctuation removal
*   Stopwords removal
*   Frequent words removal
*   Rare words removal
*   Spelling correction
*   Tokenization
*   Stemming
*   Lemmatization

## 1.3 Save all the **clean sentences** to a **csv file** (one column, each raw is a sentence) after finishing all the steps above. (4 points)


## 1.4 Advance Text Processing (Extra credit: 4 points)

*   Calculate the term frequency of all the terms.
*   Print out top 10 1-gram, top 10 2-grams, and top 10 3-grams terms as features.

In [14]:
# Write your code here
import pandas as pd
import urllib.request
array_text = []
file = urllib.request.urlopen("https://raw.githubusercontent.com/unt-iialab/info5731_spring2021/main/class_exercises/01-05-1%20%20Adams%20v%20Tanner.txt")
for i in file:
  data = i.decode("utf-8")
  clean_data = data.replace('\r\n', '')
  if clean_data:
    array_text.append(clean_data)
input_data = pd.DataFrame(array_text, columns = ['Text'])
print(input_data)

                                                  Text
0                                           5 Ala. 740
1                            Supreme Court of Alabama.
2                                                ADAMS
3                                                   v.
4                                   TANNER AND HORTON.
..                                                 ...
143            There are no Filings for this citation.
144                                 Negative Treatment
145  There are no Negative Treatment results for th...
146                                            History
147    There are no History results for this citation.

[148 rows x 1 columns]

In [15]:
input_data['Sentences'] = input_data['Text'].apply(lambda x: len(str(x).split(".")))
print(input_data)

                                                  Text  Sentences
0                                           5 Ala. 740          2
1                            Supreme Court of Alabama.          2
2                                                ADAMS          1
3                                                   v.          2
4                                   TANNER AND HORTON.          2
..                                                 ...        ...
143            There are no Filings for this citation.          2
144                                 Negative Treatment          1
145  There are no Negative Treatment results for th...          2
146                                            History          1
147    There are no History results for this citation.          2

[148 rows x 2 columns]

In [16]:
input_data['Words'] = input_data['Text'].apply(lambda x: len(str(x).split(" ")))
print(input_data)

                                                  Text  Sentences  Words
0                                           5 Ala. 740          2      3
1                            Supreme Court of Alabama.          2      4
2                                                ADAMS          1      1
3                                                   v.          2      1
4                                   TANNER AND HORTON.          2      3
..                                                 ...        ...    ...
143            There are no Filings for this citation.          2      7
144                                 Negative Treatment          1      2
145  There are no Negative Treatment results for th...          2      9
146                                            History          1      1
147    There are no History results for this citation.          2      8

[148 rows x 3 columns]

In [17]:
input_data['Characters'] = input_data['Text'].str.len()
print(input_data)

                                                  Text  ...  Characters
0                                           5 Ala. 740  ...          10
1                            Supreme Court of Alabama.  ...          25
2                                                ADAMS  ...           5
3                                                   v.  ...           2
4                                   TANNER AND HORTON.  ...          18
..                                                 ...  ...         ...
143            There are no Filings for this citation.  ...          39
144                                 Negative Treatment  ...          18
145  There are no Negative Treatment results for th...  ...          58
146                                            History  ...           7
147    There are no History results for this citation.  ...          47

[148 rows x 4 columns]

In [19]:
def avg_word(sentence):
  words = sentence.split()
  if len(words) != 0:
    return(sum(len(word) for word in words)/len(words))
  else:
    return None
input_data['Word_Length'] = input_data['Text'].apply(lambda x: avg_word(x))
print(input_data)

                                                  Text  ...  Word_Length
0                                           5 Ala. 740  ...     2.666667
1                            Supreme Court of Alabama.  ...     5.500000
2                                                ADAMS  ...     5.000000
3                                                   v.  ...     2.000000
4                                   TANNER AND HORTON.  ...     5.333333
..                                                 ...  ...          ...
143            There are no Filings for this citation.  ...     4.714286
144                                 Negative Treatment  ...     8.500000
145  There are no Negative Treatment results for th...  ...     5.555556
146                                            History  ...     7.000000
147    There are no History results for this citation.  ...     5.000000

[148 rows x 5 columns]

In [20]:
from nltk.corpus import stopwords
import nltk
nltk.download('stopwords')
stop = stopwords.words('english')
input_data['Stopwords'] = input_data['Text'].apply(lambda x: len([x for x in x.split() if x in stop]))
print(input_data)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
                                                  Text  ...  Stopwords
0                                           5 Ala. 740  ...          0
1                            Supreme Court of Alabama.  ...          1
2                                                ADAMS  ...          0
3                                                   v.  ...          0
4                                   TANNER AND HORTON.  ...          0
..                                                 ...  ...        ...
143            There are no Filings for this citation.  ...          4
144                                 Negative Treatment  ...          0
145  There are no Negative Treatment results for th...  ...          4
146                                            History  ...          0
147    There are no History results for this citation.  ...          4

[148 rows x 6 columns]

In [21]:
def s_char_count(given_input):
  n_of_special_char = 0
  for i in range(len(given_input)):
    if not((given_input[i].isalpha()) and (given_input[i].isdigit())):
        n_of_special_char = n_of_special_char + 1
  return n_of_special_char

In [22]:
input_data['Special characters'] = input_data['Text'].apply(lambda x: special_characters_count(x))
print(input_data)

                                                  Text  ...  Special characters
0                                           5 Ala. 740  ...                  10
1                            Supreme Court of Alabama.  ...                  25
2                                                ADAMS  ...                   5
3                                                   v.  ...                   2
4                                   TANNER AND HORTON.  ...                  18
..                                                 ...  ...                 ...
143            There are no Filings for this citation.  ...                  39
144                                 Negative Treatment  ...                  18
145  There are no Negative Treatment results for th...  ...                  58
146                                            History  ...                   7
147    There are no History results for this citation.  ...                  47

[148 rows x 7 columns]

In [23]:
input_data['Numerics'] = input_data['Text'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
print(input_data)

                                                  Text  ...  Numerics
0                                           5 Ala. 740  ...         2
1                            Supreme Court of Alabama.  ...         0
2                                                ADAMS  ...         0
3                                                   v.  ...         0
4                                   TANNER AND HORTON.  ...         0
..                                                 ...  ...       ...
143            There are no Filings for this citation.  ...         0
144                                 Negative Treatment  ...         0
145  There are no Negative Treatment results for th...  ...         0
146                                            History  ...         0
147    There are no History results for this citation.  ...         0

[148 rows x 8 columns]

In [24]:
input_data['Upper case words'] = input_data['Text'].apply(lambda x: len([x for x in x.split() if x.isupper()]))
print(input_data)

                                                  Text  ...  Upper case words
0                                           5 Ala. 740  ...                 0
1                            Supreme Court of Alabama.  ...                 0
2                                                ADAMS  ...                 1
3                                                   v.  ...                 0
4                                   TANNER AND HORTON.  ...                 3
..                                                 ...  ...               ...
143            There are no Filings for this citation.  ...                 0
144                                 Negative Treatment  ...                 0
145  There are no Negative Treatment results for th...  ...                 0
146                                            History  ...                 0
147    There are no History results for this citation.  ...                 0

[148 rows x 9 columns]

In [25]:
input_data['Lower Case words'] = input_data['Text'].apply(lambda x: " ".join(x.lower() for x in x.split()))
print(input_data)

                                                  Text  ...                                   Lower Case words
0                                           5 Ala. 740  ...                                         5 ala. 740
1                            Supreme Court of Alabama.  ...                          supreme court of alabama.
2                                                ADAMS  ...                                              adams
3                                                   v.  ...                                                 v.
4                                   TANNER AND HORTON.  ...                                 tanner and horton.
..                                                 ...  ...                                                ...
143            There are no Filings for this citation.  ...            there are no filings for this citation.
144                                 Negative Treatment  ...                                 negative treatment
145  There are no Negative Treatment results for th...  ...  there are no negative treatment results for th...
146                                            History  ...                                            history
147    There are no History results for this citation.  ...    there are no history results for this citation.

[148 rows x 10 columns]

In [26]:
input_data['Punctuation'] = input_data['Lower Case words'].str.replace('[^\w\s]','')
print(input_data)

                                                  Text  ...                                        Punctuation
0                                           5 Ala. 740  ...                                          5 ala 740
1                            Supreme Court of Alabama.  ...                           supreme court of alabama
2                                                ADAMS  ...                                              adams
3                                                   v.  ...                                                  v
4                                   TANNER AND HORTON.  ...                                  tanner and horton
..                                                 ...  ...                                                ...
143            There are no Filings for this citation.  ...             there are no filings for this citation
144                                 Negative Treatment  ...                                 negative treatment
145  There are no Negative Treatment results for th...  ...  there are no negative treatment results for th...
146                                            History  ...                                            history
147    There are no History results for this citation.  ...     there are no history results for this citation

[148 rows x 11 columns]

In [27]:
from nltk.corpus import stopwords
stop = stopwords.words('english')
input_data['removed stopwords'] = input_data['Punctuation'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
print(input_data)

                                                  Text  ...                    removed stopwords
0                                           5 Ala. 740  ...                            5 ala 740
1                            Supreme Court of Alabama.  ...                supreme court alabama
2                                                ADAMS  ...                                adams
3                                                   v.  ...                                    v
4                                   TANNER AND HORTON.  ...                        tanner horton
..                                                 ...  ...                                  ...
143            There are no Filings for this citation.  ...                     filings citation
144                                 Negative Treatment  ...                   negative treatment
145  There are no Negative Treatment results for th...  ...  negative treatment results citation
146                                            History  ...                              history
147    There are no History results for this citation.  ...             history results citation

[148 rows x 12 columns]

In [28]:
frequent_words = pd.Series(' '.join(input_data['removed stopwords']).split()).value_counts()[:10]
print(frequent_words)
frequent_words = list(frequent_words.index)
input_data['Removal of Common Words'] = input_data['removed stopwords'].apply(lambda x: " ".join(x for x in x.split() if x not in frequent_words))
print(input_data)

execution    50
crop         49
levy         25
lien         25
claimants    22
v            22
case         21
right        21
court        20
gathered     19
dtype: int64
                                                  Text  ...              Removal of Common Words
0                                           5 Ala. 740  ...                            5 ala 740
1                            Supreme Court of Alabama.  ...                      supreme alabama
2                                                ADAMS  ...                                adams
3                                                   v.  ...
4                                   TANNER AND HORTON.  ...                        tanner horton
..                                                 ...  ...                                  ...
143            There are no Filings for this citation.  ...                     filings citation
144                                 Negative Treatment  ...                   negative treatment
145  There are no Negative Treatment results for th...  ...  negative treatment results citation
146                                            History  ...                              history
147    There are no History results for this citation.  ...             history results citation

[148 rows x 13 columns]

In [29]:
rare = pd.Series(' '.join(input_data['removed stopwords']).split()).value_counts()[-10:]
print(rare)
rare = list(rare.index)
input_data['removed rare words'] = input_data['Removal of Common Words'].apply(lambda x: " ".join(x for x in x.split() if x not in rare))
print(input_data)

affirmed      1
find          1
397           1
clear         1
note          1
dissenting    1
doubtless     1
indorsed      1
743           1
receive       1
dtype: int64
                                                  Text  ...                   removed rare words
0                                           5 Ala. 740  ...                            5 ala 740
1                            Supreme Court of Alabama.  ...                      supreme alabama
2                                                ADAMS  ...                                adams
3                                                   v.  ...
4                                   TANNER AND HORTON.  ...                        tanner horton
..                                                 ...  ...                                  ...
143            There are no Filings for this citation.  ...                     filings citation
144                                 Negative Treatment  ...                   negative treatment
145  There are no Negative Treatment results for th...  ...  negative treatment results citation
146                                            History  ...                              history
147    There are no History results for this citation.  ...             history results citation

[148 rows x 14 columns]

In [30]:
from textblob import TextBlob
input_data['corrected spelling'] = input_data['removed rare words'].apply(lambda x: str(TextBlob(x).correct()))
print(input_data)

                                                  Text  ...                    corrected spelling
0                                           5 Ala. 740  ...                             5 all 740
1                            Supreme Court of Alabama.  ...                       supreme alabama
2                                                ADAMS  ...                                 adams
3                                                   v.  ...
4                                   TANNER AND HORTON.  ...                         manner norton
..                                                 ...  ...                                   ...
143            There are no Filings for this citation.  ...                      filing situation
144                                 Negative Treatment  ...                    negative treatment
145  There are no Negative Treatment results for th...  ...  negative treatment results situation
146                                            History  ...                               history
147    There are no History results for this citation.  ...             history results situation

[148 rows x 15 columns]

In [31]:
import nltk
nltk.download('punkt')
input_data['tokenized data'] = input_data['corrected spelling'].apply(lambda x: TextBlob(x).words)
print(input_data)

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
                                                  Text  ...                             tokenized data
0                                           5 Ala. 740  ...                              [5, all, 740]
1                            Supreme Court of Alabama.  ...                         [supreme, alabama]
2                                                ADAMS  ...                                    [adams]
3                                                   v.  ...                                         []
4                                   TANNER AND HORTON.  ...                           [manner, norton]
..                                                 ...  ...                                        ...
143            There are no Filings for this citation.  ...                        [filing, situation]
144                                 Negative Treatment  ...                      [negative, treatment]
145  There are no Negative Treatment results for th...  ...  [negative, treatment, results, situation]
146                                            History  ...                                  [history]
147    There are no History results for this citation.  ...              [history, results, situation]

[148 rows x 16 columns]

In [33]:
from nltk.stem import PorterStemmer
st = PorterStemmer()
input_data['Stemming'] = input_data['tokenized data'].apply(lambda x: " ".join([st.stem(word) for word in x]))
print(input_data)

                                                  Text  ...                     Stemming
0                                           5 Ala. 740  ...                    5 all 740
1                            Supreme Court of Alabama.  ...               suprem alabama
2                                                ADAMS  ...                         adam
3                                                   v.  ...
4                                   TANNER AND HORTON.  ...                manner norton
..                                                 ...  ...                          ...
143            There are no Filings for this citation.  ...                  file situat
144                                 Negative Treatment  ...                neg treatment
145  There are no Negative Treatment results for th...  ...  neg treatment result situat
146                                            History  ...                      histori
147    There are no History results for this citation.  ...        histori result situat

[148 rows x 17 columns]

In [34]:
from textblob import Word
import nltk
nltk.download('wordnet')
input_data['Lemmatization'] = input_data['Stemming'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
print(input_data)

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.
                                                  Text  ...                Lemmatization
0                                           5 Ala. 740  ...                    5 all 740
1                            Supreme Court of Alabama.  ...               suprem alabama
2                                                ADAMS  ...                         adam
3                                                   v.  ...
4                                   TANNER AND HORTON.  ...                manner norton
..                                                 ...  ...                          ...
143            There are no Filings for this citation.  ...                  file situat
144                                 Negative Treatment  ...                neg treatment
145  There are no Negative Treatment results for th...  ...  neg treatment result situat
146                                            History  ...                      histori
147    There are no History results for this citation.  ...        histori result situat

[148 rows x 18 columns]

In [35]:

input_data.to_csv('output.csv',index=False)

In [36]:
term_frequencies = (input_data['Lemmatization']).apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0).reset_index()
term_frequencies.columns = ['words','term_frequency']
term_frequencies

       words  term_frequency
0          5             8.0
1        740             2.0
2        all            17.0
3     suprem             1.0
4    alabama             1.0
..       ...             ...
702    grain             1.0
703      six             1.0
704     file             2.0
705      neg             2.0
706  histori             2.0

[707 rows x 2 columns]

In [37]:
import itertools
import collections
from nltk import ngrams
words = []
for i in input_data['Lemmatization']:
  words.append(nltk.tokenize.word_tokenize(i))
data = [x for x in words if x != []]
iter_values = list(itertools.chain.from_iterable(data))
gram1 = ngrams(iter_values, 1)
print("1 grams")
print(collections.Counter(gram1).most_common(10))
print("Bi grams")
distributions = nltk.FreqDist(nltk.bigrams(iter_values))
print(distributions.most_common(10))
print("Tri grams")
distributions = nltk.FreqDist(nltk.trigrams(iter_values))
print(distributions.most_common(10))

1 grams
[(('law',), 18), (('all',), 17), (('grow',), 17), (('contract',), 16), (('rep',), 16), (('plaintiff',), 15), (('posse',), 14), (('attach',), 14), (('cotton',), 14), (('2',), 13)]
Bi grams
[(('common', 'law'), 7), (('john', 'rep'), 6), (('tri', 'hon'), 6), (('fieri', 'facial'), 5), (('while', 'foot'), 4), (('can', 'not'), 4), (('appeal', 'circuit'), 4), (('error', 'circuit'), 3), (('attach', 'favor'), 3), (('allen', 'harrison'), 3)]
Tri grams
[(('2', 'john', 'rep'), 3), (('all', 'grover', 'convers'), 3), (('5', 'all', '740'), 2), (('writ', 'error', 'circuit'), 2), (('interest', 'vest', 'posse'), 2), (('vest', 'posse', 'either'), 2), (('posse', 'either', 'immedi'), 2), (('either', 'immedi', 'futur'), 2), (('immedi', 'futur', 'time'), 2), (('case', 'cite', 'headnot'), 2)]

# 2. Python Regular Expression

## 2.1 Write a Python program to remove leading zeros from an IP address. (4 points)

ip = "260.08.094.109"

In [38]:
# Write your code here
import re
ip =  "260.08.094.109"
zeros_removal = ".".join([str(int(i)) for i in ip.split(".")])   
print(zeros_removal)

260.8.94.109

## 2.2 Write a Python Program to extract all the years from the following sentence. (4 points)

sentence = "The 2010s were a dramatic decade, filled with ups and downs, more than 1000 stroies have happened. As the decade comes to a close, Insider took a look back at some of the biggest headline-grabbing stories, from 2010 to 2019. The result was 119 news stories that ranged from the heartwarming rescue of a Thai boys' soccer team from a flooded cave to the divisive election of President Donald Trump."

In [40]:
# Write your code here
sentence_given = "The 2010s were a dramatic decade, filled with ups and downs, more than 1000 stroies have happened. As the decade comes to a close, Insider took a look back at some of the biggest headline-grabbing stories, from 2010 to 2019. The result was 119 news stories that ranged from the heartwarming rescue of a Thai boys' soccer team from a flooded cave to the divisive election of President Donald Trump."
extracted_years = re.findall(r'2\d\d\d', sentence_given)
print(extracted_years)

['2010', '2010', '2019']